*{
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: white;
    color: black;
    margin: 0;
}

.nav-box{
    display: flex;
    justify-content: row;
    gap: 20px;
    background-color: darkblue;
    padding: 0px 8px;
}
.nav-box a{
    text-decoration: none;
    color: white;
}

.title-box{
    display: flex;
    justify-content: center;
    padding: 20px
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

