*{
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: white;
    color: black;
    margin: 0;
}

.nav-box{
    display: flex;
    justify-content: row;
    gap: 20px;
    background-color: darkblue;
    padding: 0px 8px;
}
.nav-box a{
    text-decoration: none;
    color: white;
}

.title-box{
    display: flex;
    justify-content: center;
    padding: 20px
}

main {
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.rods { 
    display: flex;
    justify-content: center; 
    flex-direction: row;
    gap: 0px;
    margin-top: 36px;
    flex-wrap:wrap;
}

.pic img{
    object-fit:cover;
    width: 300px;
    height: 300px;
}
.rod-img {
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
  width: 300px;
  height: 300px;
  object-fit: contain;
  display: block;
}

.pop {
  transform: scale(1.2);
}
.pic {
  display: flex;
  flex-direction: column;
  width: 350px;
  text-align: center;
  align-items: center;
}
.pic p {
  margin-top: 50px;
  width: 100%;
  white-space: nowrap;
}

.nav-box a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-box a:hover {
  color: #ffd700; 
}

rod-label {
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.3s ease;
}

.rod-label {
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.3s ease;
}

.pic:hover .rod-label {
  opacity: 1;
  transform: translateY(0);
}